# Application & JWT Settings
SECRET_KEY=fireflies_secret_jwt_key_2026_scalar_labs_token
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configuration (Default: Local SQLite)
DATABASE_URL=sqlite:///./meetings.db
